div { border: 0; outline: 0; vertical-align: baseline; background: transparent; margin: 0; padding: 0; }
:focus { outline: 0; }
::selection { background: transparent; }

#actionmenu1 {
	position: absolute;
	top: 40px;
	left: 40px;
	display: none;
}

#actionmenu1 button {
	background: rgba(20,20,20,1.0);
	width: 80px;
	height: 80px;
	border: 0;
	color: rgba(255,255,255,1.0);
	display: block;
	font-weight: 400;
	margin-top: 10px;
	text-align: center;
	font-style: bold;
	border-radius: 3px;
	letter-spacing: 0.5px;
	padding: 0 20px;
	border-radius: 100%;
}

#actionmenu1 button:hover {
	background: #a8244e;
	border-bottom: 1px solid rgba(5,5,5,0.9);
}

l {
	width: 75%;
	text-align: center;
	float: left;
}

r {
	color: rgba(255,255,255,0.5);
	width: 25%;
	text-align: right;
	float: left;
}